@import "../../../styles/global.scss";

.partnersProduct__section {
    padding-block: 4.5rem 9rem;

    .partnersProduct__wrapper {
        @include display($justify: space-between, $align: center);
    }

    .related__container {
        @include display($justify: center, $align: center, $direction: column, $gap: 16px);

        .related__wrapper {
            @include display($justify: center, $align: center);
            width: 100%;
            padding-top: 10px;
        
            .related__title {
                color: $color-primary-100;
            }
        
            .related__line {
                width: 360px;
                color: $color-white-400;
            }
            
        }
        .viewAll__text {
            font-size: $fs-highlight-100;
            color: $color-black-300;
            font-weight: $fw-bold;
            
        }
    }

}

