@import "../../../../styles/global.scss";

.carousel__item {
    @include display($justify: center, $align: flex-start, $direction: column, $gap: 10px);
    width: 280px;
    padding: 12px;
    box-shadow: 0px 0px 10px 5px $color-white-400;
    border-radius: 10px;

    .item__image {
        align-self: center;
    }

    .item__description {
        color: $color-black-300;
        font-weight: $fw-light;
        font-size: $fs-highlight-100;
    }

    .item__prevPrice {
        text-decoration: line-through;
        color: $color-gray-100;
        font-weight: $fw-normal;
        font-size: $fs-highlight-200;
    }
    
    .item__price {
        color: $color-black-300;
        font-weight: $fw-bold;
        font-size: $fs-highlight-400;
    }

    .item__installment {
        color: $color-black-300;
        font-weight: $fw-normal;
        font-size: $fs-detail-200;
    }
    
    .item__shipping {
        color: $color-primary-100;
        font-size: $fs-detail-200;
        font-weight: $fw-normal;
    }
    
    .purchase__button {
        background-color: $color-primary-100;
        color: $color-white-100;
        font-size: $fs-detail-400;
        font-weight: $fw-bold;
        width: 100%;
        height: 2.8rem;
        border-radius: 5px;
    }
}   