// Font Families
$ff-primary: "Poppins", sans-serif;
$ff-accent: "Lato", sans-serif;

// Colors
$color-primary-100: #F71963;
$color-white-100: #FFFFFF;
$color-white-200: #F6F5F2;
$color-white-250: #F4F4F4;
$color-white-300: #F0F0F0;
$color-white-400: #DEDEDE;

$color-gray-50: #BDBDBD;
$color-gray-100: #9F9F9F;
$color-gray-200: #808080;
$color-black-100: #4E4E4E;
$color-black-200: #3B3B3B;
$color-black-300: #3F3F40;
$color-black-400: #2A2A2A;
$color-black-500: #222222;
$color-accent: #041E50;

// Font Sizes
$fs-detail-100: 0.65rem; // Small 10px
$fs-detail-200: 0.75rem; // Small 12px
$fs-detail-300: 0.813rem; // Small 13px
$fs-detail-400: 0.875rem; // Small 14px

$fs-highlight-100: 0.938rem; // Medium 15px
$fs-highlight-200: 1rem; // Medium 16px
$fs-highlight-300: 1.125rem; // Medium 18px
$fs-highlight-400: 1.25rem; // Medium 20px
$fs-highlight-500: 1.313rem; // Medium 21px
$fs-highlight-600: 1.7rem; 

$fs-title-100: 1.875rem; // Large 30px;
$fs-title-200: 2.25rem; // Large 36px;
$fs-title-300: 2.5rem; // Large 40px;
$fs-title-400: 3rem; // Large 48px;

// Font Weights
$fw-light: 200;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 800;

@mixin display($align: null, $justify: null, $direction: row, $gap: null) {
    display: flex;
  
    @if $align != null {
      align-items: $align;
    }
  
    @if $justify != null {
      justify-content: $justify;
    }
  
    @if $direction != null {
      flex-direction: $direction;
    }
    @if $gap != null {
      gap: $gap;
    }
  }

body {
    min-height: 100vh;
    color: $color-black-500;
    background-color: $color-white-100;
    line-height: 1.1;
}

section {
  width: 90%;
  margin: 0 auto;
}