@import 'global';

body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

h1 {
    font-size: $fs-title-400;
    font-weight: $fw-semibold;
}

h2 {
    font-size: $fs-title-300;
    font-weight: $fw-semibold;
}

h3 {
    font-size: $fs-title-200;
    font-weight: $fw-semibold;
}

h4 {
    font-size: $fs-title-100;
    font-weight: $fw-bold;
}

// .sm-sm-normal {
//     font-size: $fs-small-sm;
//     font-weight: $fw-normal;
// }

// .sm-md-light {
//     font-size: $fs-small-md;
//     font-weight: $fw-light;
// }

// .sm-md-normal {
//     font-size: $fs-small-md;
//     font-weight: $fw-normal;
// }

// .sm-md-semibold {
//     font-size: $fs-small-md;
//     font-weight: $fw-semibold;
// }

// .sm-md-bold {
//     font-size: $fs-small-md;
//     font-weight: $fw-medium;
// }

// .sm-lg-bold {
//     font-size: $fs-small-sm;
//     font-weight: $fw-bold;
// }

// .sm-xl-medium {
//     font-size: $fs-small-xl;
//     font-weight: $fw-medium;
// }

// .sm-xl-bold {
//     font-size: $fs-small-xl;
//     font-weight: $fw-bold;
// }

// .md-sm-light {
//     font-size: $fs-medium-sm;
//     font-weight: $fw-light;
// }

// .md-md-normal {
//     font-size: $fs-medium-md;
//     font-weight: $fw-normal;
// }

// .md-md-medium {
//     font-size: $fs-small-md;
//     font-weight: $fw-medium;
// }

// .md-md-black {
//     font-size: $fs-medium-md;
//     font-weight: $fw-black;   
// }

// .md-lg-light {
//     font-size: $fs-medium-lg;
//     font-weight: $fw-light;
// }

// .md-lg-semibold {
//     font-size: $fs-medium-lg;
//     font-weight: $fw-semibold;
// }

// .md-xl-bold {
//     font-size: $fs-medium-xl;
//     font-weight: $fw-bold;
// }

// .lg-sm-bold {
//     font-size: $fs-large-sm;
//     font-weight: $fw-bold;
// }

