@import "../../../styles/global.scss";

.categories__list {
  @include display($justify: space-between, $align: center, $gap: 25px);
  width: 100%;
}

.related__container {
  @include display($justify: center, $align: center);
  padding-top: 10px;

  .related__title {
    color: $color-primary-100;
  }

  .related__line {
    width: 360px;
    color: $color-white-400;
  }
}

.productTypes__container {
  padding-block: 10px;

  .productTypes__list {
    @include display($justify: space-around, $align: center);
    height: 48px;
    border-block: 1px solid $color-gray-50;
    border-left: 1px solid $color-gray-50;
  }
}

.carousel__wrapper {
  @include display($justify: space-around, $align: center);
  width: 100%;

  .carousel__container {
    @include display($justify: space-around, $align: center,$gap: 10vw);

  }
}

@media (max-width: 1440px) {
  .carousel__wrapper {
    .carousel__container {
      gap: 3.5vw;
    }
  }

}

.slider__buttons {
  @include display($justify: space-between, $align: center);
  height: 3rem;
  position: absolute;
  width: 100%;

  .button__left {
    position: relative;
    left: 15px;
  }
  .button__right {
    position: relative;
    right: 15px;
  }
}


